.selected-items {
    margin: 100px;
    padding-left: 50px;
    padding-bottom: 40px;
    text-align: center;
    border: 4px solid black;
}

.selected-items-header{
    text-align: center;
}
.selected-item {
    background-color: white;
    position: relative;
    width: 130px;
    height: 130px;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.selected-items-img {
    padding-top: 10px;
    width: 40px;
    height: 40px;
}
.selected-items-name {
    text-transform: uppercase;
    font-size: 13px;
    margin: 10px 0;
}

.actions__selected{
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
}