.App {
  box-sizing: border-box;
}

.wrapper{
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}



